/* Water summaries stylesheet */

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h5 {
  font-family: "Arial",Arial,sans-serif;
  font-size:12px;
  padding: 0;
  margin: 0;
}

/* Banner */
.banner{
  background-color: black;
  height: 100px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header{
 background: black;
 height: 100px;
 width: 940px;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 text-align: left;
 color: white;
 font-size: 14px;
 padding: 0;
 font-family: "Arial",Arial,sans-serif;
}

.left-header{
  height: 100px;
  width: 200px;
  display: inline-block;
}

.right-header{
  height: 100px;
  width: 200px;
  display: inline-block;
}

.arrowhead{
  height: 100px;
  width: 10%;
  display: inline-block;
}

.header img{
  display: inline-block;
  height: 90px;
  position: relative;
}


